* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #000;
    text-decoration: none;
}

/* navigation bar */
.navigation {
    display: flex;
    justify-content: space-between; /* 수평 방향 정렬 */
    align-items: center;            /* 수직 방향 정렬 */
    border-bottom: solid 1px #000;
    background-color: #fff;
    padding: 15px 20px;
}

/* navigation bar - logo */
.nav-logo {
    flex-shrink: 0;     /* 0; flex-basis(여기선 width)보다 작아질 수 없음 = 고정폭 */
    width: 200px;
    font-size: 30px;
    color: #000;
    font-family: 'Nunito', sans-serif;
}

.nav-logo i {
    color: #000;
    padding: 0 5px 0 0;
}

/* navigaion bar - search */
.nav-search {
    display: flex;
    flex-grow: 1;       /* 1; flex-basis(여기선 width)보다 커질 수 있음 */
    justify-content: center;
    width: 300px;
    height: 35px;
    padding: 0 50px;
    max-width: 800px;
}

.nav-search input {
    flex-grow: 1;
    width: 255px;
    border: 1px solid #000;
    font-family: 'Noto Sans KR', sans-serif;
}

.nav-search button {
    flex-shrink: 1;     /* TODO: 0(고정) or 1(기본값) ?*/
    width: 45px;
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.nav-search i {
    color: #fff;
    font-size: 15px;
}

/* navigation bar - user */
.nav-usr {
    flex-shrink: 1;     /* 0; flex-basis(여기선 width)보다 작아질 수 없음 = 고정폭 */
    width: 200px;
    text-align: right;
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    padding: 5px 0;
}

.nav-usr i {
    color: #000;
    padding : 0 0 0 5px;
}

@media screen and (max-width: 660px) {
    .navigation {
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-usr {
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .nav-search {
        width: 100%;
        padding: 0;
        margin-top: 15px;
    }
}

/* main */
.container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.cont-section {
    width: 400px;
}

.category {
    padding: 20px;
}

.category .category-head {
    width: 100%;
    background-color: #000;
    padding: 5px;
}

.category .category-link {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    color: #fff;
}

.category ul, ol {
    list-style-type: none;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 200;
}

.category .category-item {
    border-bottom: 1px solid #d3d3d3;
    padding: 5px;
    /* white-space: nowrap;        공백은 1개민 표시, 텍스트 줄바꿈 X */
    overflow: hidden;
    text-overflow: ellipsis;
}

/* .category li:nth-of-type(n+11) {
    display: none;
}

.category .updated-song:nth-of-type(n+22) {
    display: none;
} */

@media screen and (max-width: 660px) {
    .container {
        flex-wrap: wrap;
    }
    .cont-section {
        width: 100%;
    }
}